.bg-section {
    background-image: url('../assets/fon.svg'); /* Путь к изображению */
    background-size: cover; /* Это делает изображение адаптированным по размеру */
    background-position: center; /* Центрирует изображение */
    height: 100%; /* Задайте высоту, чтобы секция занимала весь экран */
    /* opacity: 0.3; */
}

 
.nunito-sans {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   
  }

  .Nunito{
    font-family: "Nunito", serif;

    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }