.bg-section {
    background-image: url('../assets/fon.svg'); /* Путь к изображению */
    background-size: contain; /* Это делает изображение адаптированным по размеру */
    background-position: center; /* Центрирует изображение */
    height: 100%; /* Задайте высоту, чтобы секция занимала весь экран */
}

 
.nunito-sans {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   
  }